.font-sm-table {
  font-size: 9pt;
}

.font-xs-content {
  font-size: 8pt;
}

.font-xss-content {
  font-size: 7pt;
}

.font-blue {
  color: rgb(76, 115, 242)
}

.font-red {
  color:rgb(240, 68, 25)
}

.font-green {
  color:#008000;
}

.images-small{
  width: 425px;
  height: auto;
}